@import url('');

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #B4F0D2;
}

p {
  font-style: italic;
  font-size: 8px'
}

h1 {
  color: #FF44FF;
  border: 5px solid blue;
  margin: 20px;
  padding: 5px;
}

.nerds {
  float:left;
  width: 49%;
}

.swedish {
  float:right;
  width:50%;
}
